# Host path for downloaded files
DOWNLOADS_PATH=~/Downloads/godlv
# Host path for temporary files
TEMP_PATH=~/Downloads/godlv/temp
# User and Group ID to run the container as
PUID=1000
PGID=1000
# Port to expose the web server on
PORT=8080
